.rating-review-container{
    display: flex;
    margin-top: 50px;

}
.rating-review-container .stars {
    margin-top: 1px ;
    margin-left: 100px;

}
.rating-review-container div {
    display: flex;
    margin-top: 50px;
    gap: 5px;


}

.service-detail-container{
    margin-left: 10%;
    margin-top: -5%;
}
.product-detail-container{
    margin-left: 10%;
}

hr {
    margin-left: -20%;
}

.gallery-container{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}
.gallery-container img {
    border-radius: 10px;
}
.currently-viewed{
    display: flex;
    gap: 10px;
    margin-left: 110px;

}
.currently-viewed img {
   height:  25px;
}

.star-rating{
    display: flex;
}

.image-detail-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}
.image-container{
    height: 600px;
    width: 600px;
}
.detail-container{
   margin-top: 50px;
   line-height: 40px;
}
.detail-container li{
 color: hsla(0, 0%, 43%, 1);
 line-height: 25px;

}
.detail-container h3,  h4, p, li, .stars-rating{
    line-height: 25px;
    margin-bottom: 20px;

}

.detail-container p, h3 {
   color: hsla(0, 0%, 43%, 1);
}
.detail-container .productheader, h3 {
    color: hsla(0, 0%, 26%, 1);
    size: 40px
}
.detail-container h4 {
    color: hsla(10, 41%, 45%, 1);
    font-size: 20px;

}

.productheader {
    font-size: 24px;
}


.detail-container .description-text{
    width: 400px;
    line-height: 30px;
    margin-top: -20px;
}

.stars-rating{
    display: flex;
    margin-right: 500px;
}

.ratings-product {
    margin-top: 20px ;
    color: hsla(0, 0%, 43%, 1);


}
.variations div{
    width: 80px;
    height: 50px;
   color: hsla(10, 41%, 45%, 1) ;
   border: 1px solid  hsla(10, 41%, 45%, 1);
   padding: 5px 10px 10px 15px;
   border-radius: 10px;

}
.variations{
    margin-top: 15px;
   display: flex;
   gap: 20px;
   margin-bottom: 30px;
}
.chat-btn{
    background-color: hsla(10, 41%, 45%, 1);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: 0px;
    outline: none;
    padding: 10px 10px 10px 10px;
    color: white;
}
.request-btn{
    background-color: hsla(10, 41%, 45%, 1);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: 0px;
    outline: none;
    padding: 10px 10px 10px 10px;
    color: white;
}

.the-buttons{
  margin-top: 100px;
}

.detail-container button {
    margin-bottom: 20px;

}